<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    <display-name>ProxSync</display-name>
    <listener>
        <listener-class>
            de.dieser1memesprech.proxsync.listener.StartupListener
        </listener-class>
    </listener>
    <servlet>
        <display-name>SyncVideoServlet</display-name>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>de.dieser1memesprech.proxsync.rest</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>